In [ ]:
# List []
# Dictionary {}
# Tuple ()
# Set {}
# Looping
# Function

In [ ]:
#list
contoh_list = ["Vincent", 12 , 12.2, ['Darwin', 'Dirwan'], {}, (), True] #Berawal dri Index [0]
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[-1])

Vincent
12
True

In [ ]:
#Dictionary
contoh_dict = {2:"Vincent", "Dua Belas":12, False:12.0, 3.0:['Darwin', 'Dirwan'], "Dict":{}, 333:(), "Boolean":True}
print(contoh_dict[2])
print(contoh_dict["Dua Belas"])
print(contoh_dict[False])

Vincent
12
12.0

In [ ]:
#contoh method di list
list1 = [3,1,2,4,5,6]

In [ ]:
list1.append("Vincent")
list1

[3, 1, 2, 4, 5, 6, 'Vincent']

In [ ]:
list1.insert(4, "Irfan")
list1

[3, 1, 2, 4, 'Irfan', 5, 6, 'Vincent']

In [ ]:
list_angka = [1,7,4,9,8]
list_angka.sort()
list_angka

[1, 4, 7, 8, 9]

In [ ]:
list_angka.sort(reverse = True) #sortir dri paling besar
list_angka

[9, 8, 7, 4, 1]

In [ ]:
list_angka.pop() #hapus diujung data
list_angka

[9, 8, 7, 4]

In [ ]:
list_angka.remove(7) #hapus yang ada angka 7
list_angka

[9, 8, 4]

In [ ]:
list_angka.remove(list_angka[1]) #remove di idx 1
list_angka

[9, 4]

In [ ]:
#Set
list_angka = [9,7,4,1,7]
list_angka

[9, 7, 4, 1, 7]

In [ ]:
set_angka = set(list_angka)
set_angka

{1, 4, 7, 9}

In [ ]:
list_angka = list(set_angka) #untuk panggil dri set ke list, karna set ga bisa di panggil
list_angka

[9, 4, 1, 7]

In [ ]:
#Tuple, tidak bisa ditambah atau dikurang, mirip dengan dict/list
tuple_angka = (1,3,5,7,9,7)
tuple_angka[0]

1

In [ ]:
#Looping

for i in range(10): 
  print("Hai")

Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai

In [ ]:
for i in range (9):
  print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
for i in range(0,20,1): #mirip dengan for C++
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#While looping
a = 0
while a<20:
  print("a msih lebih kecil dri 20 {}".format(a))
  a += 1

a msih lebih kecil dri 20 0
a msih lebih kecil dri 20 1
a msih lebih kecil dri 20 2
a msih lebih kecil dri 20 3
a msih lebih kecil dri 20 4
a msih lebih kecil dri 20 5
a msih lebih kecil dri 20 6
a msih lebih kecil dri 20 7
a msih lebih kecil dri 20 8
a msih lebih kecil dri 20 9
a msih lebih kecil dri 20 10
a msih lebih kecil dri 20 11
a msih lebih kecil dri 20 12
a msih lebih kecil dri 20 13
a msih lebih kecil dri 20 14
a msih lebih kecil dri 20 15
a msih lebih kecil dri 20 16
a msih lebih kecil dri 20 17
a msih lebih kecil dri 20 18
a msih lebih kecil dri 20 19

In [ ]:
while True:
  umur = int(input())
  if umur >= 17:
    break

16
15
17

In [ ]:
while True:
  umur = int(input())
  if umur == 17:
    continue
  elif umur > 17:
    break
  print("Jika dibawah umur 17 aku muncul")

16
Jika dibawah umur 17 aku muncul
12
Jika dibawah umur 17 aku muncul
17
18

In [ ]:
#for else
for i in range(0,9,2):
  print(i)
else:
  print("Aku akan muncul jika break tidak tereksekusi")

0
2
4
6
8
Aku akan muncul jika break tidak tereksekusi

In [ ]:
for i in contoh_list:
  print(i)

Vincent
12
12.2
['Darwin', 'Dirwan']
{}
()
True

In [ ]:
for i in contoh_dict:
  print(i)

2
Dua Belas
False
3.0
Dict
333
Boolean

In [ ]:
list_angka = [9,7,4,1,0,7]

In [ ]:
for i in list_angka:
  if i == 0:
    print("Ada angka 0 di list ini")

Ada angka 0 di list ini

In [ ]:
for nilai in list_angka:
  if nilai == 0:
    list_angka.remove(nilai)
list_angka

[9, 7, 4, 1, 7]

In [ ]:
for idx, nilai in enumerate(list_angka):
# print("indeks : {}" .format(idx))
# print("nilai : {}" .format(nilai))
  if nilai == 0:
    list_angka[idx] = "Nol"
list_angka

[9, 7, 4, 1, 'Nol', 7]

In [ ]:
#Function
def nilai_terbesar_dari_dua_nilai(a,b): #nama function
  #masukan code kalian disini
  if a > b:
    return a
  else:
    return b

In [ ]:
print(nilai_terbesar_dari_dua_nilai(3,10))

10

In [ ]:
nilai_terbesar = nilai_terbesar_dari_dua_nilai(3,10)

In [ ]:
nilai_terbesar + 20

30